* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: linen;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

table,
th,
td {
  color: #333;
  border: 1px solid #000;
  width: 850px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.main {
  color: blue;
  line-height: 2;
}

.navbar {
  background-color: black;
  color: white;
  height: 60px;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
  color: #ddd;
}

button {
  padding: 5px 10px;
  margin: 5px;
  font-size: large;
  font-weight: bold;
  background-color: lightgray;
  border-radius: 5px;
}

button:hover {
  background-color: yellow;
  color: red;
}

.main .container .gitimage {
  width: 10px;
}

.login-form {
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
}

.login-form input[type='text'],
.login-form input[type='password'] {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.login-form input[type='submit'] {
  width: 100%;
  height: 40px;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.login-form input[type='submit']:hover {
  background-color: #3e8e41;
}
